@import "../utilidades/variables";
@import "../utilidades/mixin";

/* Estilos de section */

section {
    form{
        .centro {
            @include flex;
            margin-right: 15em;
        }
        .centrar {
            @include flex;
            margin-right: 21em
        }
        .centrado {
            @include flex;
            margin-right: 22em
        }
    }
    .nombre-uno {
        text-align: center;
        border: 2px solid black;
        padding: 10px;
        margin: 10px 0;
    }
    .section-contacto {
        text-align: center;
    }
}

.slide {
    margin-top: 10px;
    img {
        height: 65vh;
        box-sizing: border-box;
    }
}